
ul {
    display: flex;
    flex-direction: column;
    max-width: 300px;
 
}


li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.deleteButton {
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

h2, h1 {
    padding-left: 40px;
    font-size: 18px;
    margin-top: 10px;
}